@model MudTestApp.Models.Test

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LabTechAssigned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabTechAssigned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MudType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MudType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MudSystemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MudSystemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExposureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExposureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEnded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEnded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestComments)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Results)
        </dt>

        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Compound</th>
                    <th>Test Temp</th>
                </tr>

        @foreach (var item in Model.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Compound.CompoundName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=> item.TestTemp)
                </td>
            </tr>
        }



            </table>
        </dd>



</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TestID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
