@model MudTestApp.Models.TestViewModels.TestDetailViewModel

@{
    ViewData["Title"] = "Details";
}
   
    
<div>
    <h4>Details for Test Number: @Model.TestDVm.TestID</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestDVm.Customer.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestDVm.Customer.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestDVm.ContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestDVm.ContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestDVm.LabTechAssigned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestDVm.LabTechAssigned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestDVm.MudType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestDVm.MudType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestDVm.MudSystemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestDVm.MudSystemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestDVm.ReceivedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestDVm.ReceivedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestDVm.ExposureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestDVm.ExposureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestDVm.DateStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestDVm.DateStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestDVm.DateEnded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestDVm.DateEnded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestDVm.TestComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestDVm.TestComments)
        </dd>
    </dl>

     <div>
        <a asp-action="Edit" asp-route-id="@Model.TestDVm.TestID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

     <h2>Test Results</h2>
    
     <a class="btn btn-outline-success" asp-controller="TestResults" asp-action="Create" asp-route-id="@Model.TestDVm.TestID"> Add New Test Result </a>
 
    <div>
        <table class="table" id="detailTable">
            <thead>
                <th>Compound</th>
                <th>Test Temp</th>
                <th></th>
                <th>Thickness</th>
                <th>Hardness(a)</th>
                <th>Hardness(b)</th>
                <th>Air Wt(a)</th>
                <th>Air Wt(b)</th>
                <th>Water Wt(a)</th>
                <th>Water Wt(b)</th>
                <th>25&#37 Mod</th>
                <th>50&#37 Mod</th>
                <th>100&#37 Mod</th>
                <th>Elong</th>
                <th>Tensile</th>
                <th>Observations</th>
                <th></th>
            </thead>

            <tbody>
                @foreach (var item in Model.TestDVm.Results)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Compound.CompoundName)</td>
                        <td>@Html.DisplayFor(modelItem => item.TestTemp)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>S1</td>
                        <td>@Html.DisplayFor(modelItem => item.S1Thickness)</td>
                        <td>@Html.DisplayFor(modelItem => item.S1Hardness_a)</td>
                        <td>@Html.DisplayFor(modelItem => item.S1Hardness_b)</td>
                        <td>@Html.DisplayFor(modelItem => item.S1WtAir_a)</td>
                        <td>@Html.DisplayFor(modelItem => item.S1WtAir_b)</td>
                        <td>@Html.DisplayFor(modelItem => item.S1WtWater_a)</td>
                        <td>@Html.DisplayFor(modelItem => item.S1WtWater_b)</td>
                        <td>@Html.DisplayFor(modelItem => item.S1_25Mod)</td>
                        <td>@Html.DisplayFor(modelItem => item.S1_50Mod)</td>
                        <td>@Html.DisplayFor(modelItem => item.S1_100Mod)</td>
                        <td>@Html.DisplayFor(modelItem => item.S1_elongation)</td>
                        <td>@Html.DisplayFor(modelItem => item.S1_tensile)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>S2</td>
                        <td>@Html.DisplayFor(modelItem => item.S2Thickness)</td>
                        <td>@Html.DisplayFor(modelItem => item.S2Hardness_a)</td>
                        <td>@Html.DisplayFor(modelItem => item.S2Hardness_b)</td>
                        <td>@Html.DisplayFor(modelItem => item.S2WtAir_a)</td>
                        <td>@Html.DisplayFor(modelItem => item.S2WtAir_b)</td>
                        <td>@Html.DisplayFor(modelItem => item.S2WtWater_a)</td>
                        <td>@Html.DisplayFor(modelItem => item.S2WtWater_b)</td>
                        <td>@Html.DisplayFor(modelItem => item.S2_25Mod)</td>
                        <td>@Html.DisplayFor(modelItem => item.S2_50Mod)</td>
                        <td>@Html.DisplayFor(modelItem => item.S2_100Mod)</td>
                        <td>@Html.DisplayFor(modelItem => item.S2_elongation)</td>
                        <td>@Html.DisplayFor(modelItem => item.S2_tensile)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>S3</td>
                        <td>@Html.DisplayFor(modelItem => item.S3Thickness)</td>
                        <td>@Html.DisplayFor(modelItem => item.S3Hardness_a)</td>
                        <td>@Html.DisplayFor(modelItem => item.S3Hardness_b)</td>
                        <td>@Html.DisplayFor(modelItem => item.S3WtAir_a)</td>
                        <td>@Html.DisplayFor(modelItem => item.S3WtAir_b)</td>
                        <td>@Html.DisplayFor(modelItem => item.S3WtWater_a)</td>
                        <td>@Html.DisplayFor(modelItem => item.S3WtWater_b)</td>
                        <td>@Html.DisplayFor(modelItem => item.S3_25Mod)</td>
                        <td>@Html.DisplayFor(modelItem => item.S3_50Mod)</td>
                        <td>@Html.DisplayFor(modelItem => item.S3_100Mod)</td>
                        <td>@Html.DisplayFor(modelItem => item.S3_elongation)</td>
                        <td>@Html.DisplayFor(modelItem => item.S3_tensile)</td>
                        <td>@Html.DisplayFor(modelItem => item.Observations)</td>
                        
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a class="btn btn-outline-primary" asp-controller="TestResults" asp-action="Edit" asp-route-id="@item.TestResultsID">Edit</a></td>
                        <td><a class="btn btn-outline-danger" asp-controller="TestResults" asp-action="Delete" asp-route-id="@item.TestResultsID">Delete</a></td>
                    </tr>

                }        
            </tbody>
         </table>
    </div>
    
</div>

